@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__symptoms {

  .wrapper {
    margin: 0 $theme-board;
    border-right: 1px solid #619897;
    border-left: 1px solid #619897;
    padding: 0 0 60px 0;
    @media screen and (max-width: $width-mob) {
      margin: 0 auto;
    }

    .header {
      @include sec-sub-header;
      padding-left: $theme-padding;
      font-weight: 300;
    }

    .body {
      display: grid;
      grid-template-columns: 2fr 1fr;
      @media screen and (max-width: $width-mob) {
        grid-template-columns: 1fr;
      }

      .imgBlock {
        background: $theme-color-1;
        display: flex;
        align-items: center;
        justify-content: center;
        .man_points {
          max-width: 80%;
        }
      }

      .accordion {
        color: black;
        padding: 0 0 0 $theme-padding;
        @media screen and (max-width: $width-mob) {
          padding: 0;
        }
        .container {
          position: relative;
          margin: 0px 0px;
          padding: 15px 35px;
         background: white;
          &.active {
            .content {
              height: 150px;
            }
            .label {
              &::before {
                content: '-';
                font-size: 30px;
              }
            }
          }
        }
        .label {
          position: relative;
          padding: 10px 0;
          font-size: 18px;
          color: black;
          cursor: pointer;
          text-transform: uppercase;
          font-family: Akrobat;
          &::before {
            content: '+';
            color: black;
            position: absolute;
            top: 50%;
            right: -5px;
            font-size: 30px;
            transform: translateY(-50%);
          }
        }
        .content {
          position: relative;
          background: white;
          font-family: Akrobat;
          height: 0;
          font-size: 20px;
          text-align: justify;
          overflow: hidden;
          transition: 0.5s;

          .info {
            margin-bottom: 15px;
          }

          .link {
            color: #141414;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 22px;

            &:hover {
              //background: #e8e8e8;
              //color: #057382;
            }
          }
        }
        hr {
          width: 100;
          margin-left: 0;
          border: 1px solid grey;
        }
      }


    }




  }




}
