@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__doctors {

  .wrapper {
    margin: 0 $theme-board;
    border-right: 1px solid #619897;
    border-left: 1px solid #619897;
    padding: 0 0 0px 0;
    @media screen and (max-width: $width-mob) {
      margin: 0 auto;
    }

    .doc__info {
      display: grid;
      grid-template-columns: 1fr 2fr;
      border-bottom: 1px solid #a1a1a1;

      .doc__info--position {
        position: relative;
        border-right: 1px solid #a1a1a1;

        span {
          -webkit-transform: rotate(270deg);
          -moz-transform: rotate(270deg);
          right: 0;
          left: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          text-transform: uppercase;
          position: absolute;
          top: 0;
        }
      }

      .doc__info--data {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 65px 0;
      }
    }


  }


}
