@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__top-banner {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #c5c5c5;

  .banner {
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 25px;

    .banner-left {
      width: 50%;
      //font-size: 34px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 40px 0 80px;
      @media screen and (max-width: $width-middle) {
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: flex;
        margin-bottom: 40px;
        font-size: 24px;
        padding: 0;
      }

      img {
        max-width: 45%;
        //margin-bottom: 20px;
        @media screen and (max-width: $width-mob) {
          width: 90%;
          max-width: 255px;
          //margin-bottom: 20px;
        }
      }

      .banner-text-2 {
        font-size: 30px;
        line-height: 150%;
        margin-bottom: 35px;
        @media screen and (max-width: $width-middle) {
          text-align: center;
        }
        @media screen and (max-width: $width-mob) {
          font-size: 26px;
          margin-bottom: 15px;
        }
      }

      .banner-text-3 {
        font-size: 18px;
        //line-height: 150%;
        font-style: italic;
        @media screen and (max-width: $width-mob) {
          margin-bottom: 30px;
          text-align: center;
        }

        .sec-row {
          display: block;
          @media screen and (max-width: $width-mob) {
            display: contents;
          }
        }

        .author {
          display: block;
          font-weight: 500;
          @media screen and (max-width: $width-mob) {
            display: contents;
          }

        }
      }


    }

    .banner-right {
      width: 50%;
      position: relative;


      @media screen and (max-width: $width-middle) {
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
      }

      @media screen and (max-width: $width-mob) {
        width: 100%;
        //overflow: hidden;
      }

      .pulse_holder {

        .pulse__holder--content {
          position: absolute;
          top: -55px;
          width: max-content;
          padding: 8px 15px;
          transform: translateX(calc(-50% + 10px));
          color: white;
          font-size: 14px;
          border: 1px solid white;
          font-weight: 300;
          border-radius: 6px;

          @media screen and (max-width: $width-mob) {
            font-size: 10px;
            top: -50px;
          }

        }

        &::before {
          content: "";
          display: block;
          height: 14px;
          width: 14px;
          //background: $theme-color-1;
          position: absolute;
          transform: rotate(-135deg);
          left: 0px;
          top: -27px;
          border-left: 1px solid #fff;
          border-top: 1px solid #fff;
          z-index: 2;

          @media screen and (max-width: $width-mob) {
            //display: none;
            top: -25px;
            height: 10px;
            width: 10px;
          }
        }

      }

      #pulse_holder-1 {
        position: absolute;
        left: 12%;
        top: 17%;
        @media screen and (max-width: $width-mob) {
          left: 15%;
          top: 16%;
        }

        .pulse__holder--content {
          background: $theme-color-1;
        }

        &::before {
          background: $theme-color-1;
        }
      }


      #pulse_holder-2 {
        position: absolute;
        left: 45%;
        top: 12%;
        @media screen and (max-width: $width-mob) {
          left: 45%;
          top: 3%;
        }

        .pulse__holder--content {
          background: $theme-color-2;
        }

        &::before {
          background: $theme-color-2;
        }
      }

      #pulse_holder-3 {
        position: absolute;
        left: 69%;
        top: 16%;
        @media screen and (max-width: $width-mob) {
          left: 74%;
          top: 15%;
        }

        .pulse__holder--content {
          background: $theme-color-1;
        }

        &::before {
          background: $theme-color-1;
        }
      }

      #pulse_holder-4 {
        position: absolute;
        left: 84%;
        top: 37%;
        @media screen and (max-width: $width-mob) {
          left: 79%;
          top: 44%;
        }

        .pulse__holder--content {
          background: $theme-color-2;
        }

        &::before {
          background: $theme-color-2;
        }
      }

      #pulse_holder-5 {
        position: absolute;
        left: 57%;
        top: 78%;
        @media screen and (max-width: $width-mob) {
          left: 72%;
          top: 73%;
        }

        .pulse__holder--content {
          background: $theme-color-1;
        }

        &::before {
          background: $theme-color-1;
        }
      }

      #pulse_holder-6 {
        position: absolute;
        left: 33%;
        top: 81%;
        @media screen and (max-width: $width-mob) {
          left: 47%;
          top: 88%;
        }

        .pulse__holder--content {
          background: $theme-color-2;
        }

        &::before {
          background: $theme-color-2;
        }
      }

      #pulse_holder-7 {
        position: absolute;
        left: 11%;
        top: 74%;
        @media screen and (max-width: $width-mob) {
          left: 13%;
          top: 77%;
        }

        .pulse__holder--content {
          background: $theme-color-1;
        }

        &::before {
          background: $theme-color-1;
        }
      }

      #pulse_holder-8 {
        position: absolute;
        left: 8%;
        top: 40%;
        @media screen and (max-width: $width-mob) {
          left: 14%;
          top: 48%;
        }

        .pulse__holder--content {
          background: $theme-color-2;
        }

        &::before {
          background: $theme-color-2;
        }
      }

      img {
        max-width: 90%;
        margin-top: -4px;
        @media screen and (max-width: $width-middle) {
          max-width: 530px;
          width: 80%;
        }
        @media screen and (max-width: $width-mob) {
          max-width: 100%;
          width: 100%;
        }
      }

    }

    @media screen and (max-width: $width-middle) {
      flex-direction: column;
      //background: #4a3b4e;
      width: 100%;
      padding: 20px;
    }
  }

  .banner-text {
    color: #b9bfc5;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 45px;
    @media (max-width: 1400px) and (min-width: $width-middle) {
      font-size: 80px;
    }
    @media screen and (max-width: $width-middle) {
      font-size: 48px;
      text-align: center;
    }
    @media screen and (max-width: $width-mob) {
      font-size: 36px;
      text-align: center;
    }
  }


  //pulse buttons on banner *********************/
  @-webkit-keyframes pulse {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    8% {
      transform: scale(0.2);
      opacity: 0;
    }
    15% {
      transform: scale(0.5);
      opacity: 1;
    }
    30% {
      transform: scale(0.7);
      opacity: 1;
    }
  }

  @-moz-keyframes pulse {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    8% {
      transform: scale(0.2);
      opacity: 0;
    }
    15% {
      transform: scale(0.5);
      opacity: 1;
    }
    30% {
      transform: scale(0.7);
      opacity: 1;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    8% {
      transform: scale(0.2);
      opacity: 0;
    }
    15% {
      transform: scale(0.5);
      opacity: 1;
    }
    30% {
      transform: scale(0.7);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  .pulse_holder {
    z-index: 5;
    cursor: pointer;
  }

  .pulse_holder .pulse_marker {
    width: 11px;
    height: 11px;
    background: #fff;
    border: 2px solid #bbb;
    border-radius: 50%;
    //opacity: 0.8;
  }

  .pulse_holder .pulse_rays {
    margin: 0 auto;
    position: absolute;
    left: -14px;
    top: -14px;
    z-index: 10;
    //background-color: rgba(185, 185, 185, 0.5);
    background-color: #ffffff78;
    opacity: 0.1;
    width: 40px;
    height: 40px;
    //border: 4px solid #bbb;
    border-radius: 50%;
    -webkit-animation: pulse 1.3s linear infinite;
    -o-animation: pulse 1.3s linear infinite;
    animation: pulse 1.3s linear infinite;
    border-image: initial;
  }

  .pulse_rays:hover {
    background-color: #ccd;
  }


}
