@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__Seo {
  padding: 60px;
  @media screen and (max-width: $width-mob) {
    padding: 40px;
  }
  .wrapper {
    max-width: $wrapper-mid;
    margin: 0 auto;

    .seo_text {
      font-size: 20px;
      max-width: 1160px;
      @media screen and (max-width: $width-mob) {
       font-size: 18px;
      }
      span {
        color: $theme-color-2;
        font-weight: bold;
        @media screen and (max-width: $width-mob) {
          display: block;
          padding: 10px 0;
        }
      }
    }
  }
}
