@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__top-banner {
  height: 100vh;
  background-image: url('../img/index_back.jpg');
  background-color: #ccc;
  background-position: top center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 265px;

  @media screen and (max-width: $width-middle) {

  }


}
