@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__philosophy {
  //height: 100px;
  padding: 60px 0 20px 0;
  @media screen and (max-width: $width-mob) {
   padding: 40px 20px 20px 20px;
  }

  .wrapper {
    max-width: $wrapper-mid;
    //padding-left: 140px;
    margin: 0 auto;
    @media screen and (max-width: $width-middle) {
      //padding-left: 0px;
    }

    .philosophy__row {
      color: #203865;
      font-size: 28px;
      display: flex;
      align-items: center;
      height: 75px;
      font-weight: 500;
      @media screen and (max-width: $width-mob) {
        height: auto;
        //flex-direction: column;
        font-size: 16px;
        margin-bottom: 30px;
      }

      div {
        display: flex;
        align-items: center;
      }

      .first {
        width: 250px;
        @media screen and (max-width: $width-mob) {
          width: 80px;
        }
      }

      .arrow {
        width: 160px;
        padding: 25px;
        @media screen and (max-width: $width-mob) {
          width: 110px;
          /* transform: scale(.5); */
          min-width: 110px;
        }
      }

      .last {

      }
    }
  }




}
