@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__top-banner {
  //height: 100vh;
  background-image: url('../img/index_back.jpg');
  background-color: #ccc;
  background-position: top center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr $theme-board;
  padding-top: 85px;

  @media screen and (max-width: $width-middle) {

  }

  .section__top-banner--left {
    display: flex;
    flex-direction: column;
    color: #e8e8e8;
    justify-content: center;
    padding: 0 0 0 80px;
    font-size: 18px;
    border-right: 1px solid #619897;

    .header {
      font-size: 58px;
      font-family: Akrobat;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .subHeader {
      margin-bottom: 45px;
    }

    .link {
      background: $theme-color-2;
      padding: 10px 15px;
      color: #e8e8e8;
      width: 320px;
      height: 55px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #e8e8e8;
        color: #057382;
      }
    }
  }

  .section__top-banner--mid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid #619897;

    .logoHeader {
      margin:40px 34px 40px 0;
      width: 42px;
    }


  }




}
