@import '../variables/variables';

footer {

  .wrapper {
    margin: 0 $theme-board;
    border-right: 1px solid #619897;
    border-left: 1px solid #619897;
    padding: 0;
    border-bottom: 1px solid #a1a1a1;

    .content {
      max-width: $wrapper-mid;
      margin: 0 auto;
      padding: 25px 0;
      border-bottom: 1px solid #619897;
      display: grid;
      grid-template-columns: 1fr 3fr;
      @media screen and (max-width: $width-mob) {
        flex-direction: column;
        padding: 20px;
      }
      .logo {
        text-align: center;
        padding-top: 10px;
        @media screen and (max-width: $width-mob) {
          margin-bottom: 15px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: $width-mob) {
          flex-direction: column;
        }

        .col {
          display: flex;
          flex-direction: column;
        }

        a {
          color: #444444;
          padding: 3px 0px;
        }

      }



    }


    .row-2 {
      padding: 20px 0 20px 20px;
    }


  }



}




