@import '../variables/variables';

header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 100px;
  border-bottom: 1px solid #c5c5c5;
  text-transform: uppercase;
  background: whitesmoke;
  @media screen and (max-width: $width-mob) {
    height: 80px;
  }

  a {
    text-decoration: none;
  }

  a.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    //min-width: 110px;
    margin-left: 80px;
    margin-right: 40px;
    @media screen and (max-width: $width-middle) {
      margin-left: 40px;
    }
    @media screen and (max-width: $width-mob) {
      //min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding-left: 20px;
    }

    img {
      width: 122px;
      height: auto;
      @media screen and (max-width: $width-mob) {
        width: 70px;
        height: auto;
        //height: 80%;
      }
    }
  }



  .nav-block__lang {
    display: none;
    @media screen and (max-width: $width-mob) {
      display: flex;
      align-items: center;
      width: 70px;
      justify-content: flex-end;
      flex-grow: 2;
      padding-right: 50px;
      //margin-left: 40px;

      a {
        color: black;
        padding-right: 15px;
        &.current {
          font-weight: 500;
        }
      }
    }
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    //height: 118px;
    justify-content: space-between;
    @media screen and (max-width: $width-mob) {
      width: 0;
    }

    .nav-container {
      width: 100%;
      max-width: 1160px;
      height: 100%;

      ul {
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        @media screen and (max-width: $width-mob) {
          height: auto;
        }

        li {
          float: left;
          list-style: none;

          a {
            color: #1f2227;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
              color: #808080;
              text-decoration: none;
            }
          }

          .lang-switch {
            padding: 0 10px;
          }

          .lang-switch.current {
            font-weight: bold;
          }

          &.contact-block {
            display: flex;
            height: 100%;
            background: $theme-color-1;
            width: 250px;
            //width: 20%;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $width-mob) {
              display: block;
              width: 100%;
              background: none;
            }

            a {
              color: white;
            }
          }
        }
      }
    }


  }

  #nav {
    &:checked {
      + {
        .nav-open {
          transform: rotate(45deg);

          i {
            background: #000;
            transition: transform 0.2s ease;

            &:nth-child(1) {
              transform: translateY(6px) rotate(180deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translateY(-6px) rotate(90deg);
            }
          }
        }
      }

      ~ {
        .nav-container {
          z-index: 9990;
          opacity: 1;

          ul {
            li {
              a {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

}

@media screen and (max-width: $width-mob) {
  header {
    nav {
      .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: $theme-color-2;
        opacity: 0;
        transition: all 0.2s ease;

        ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          flex-direction: column;

          li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;

            &:nth-child(1) {
              a {
                transition-delay: 0.2s;
              }
            }

            &:nth-child(2) {
              a {
                transition-delay: 0.3s;
              }
            }

            &:nth-child(3) {
              a {
                transition-delay: 0.4s;
              }
            }

            &:nth-child(4) {
              a {
                transition-delay: 0.5s;
              }
            }

            &:nth-child(5) {
              a {
                transition-delay: 0.6s;
              }
            }

            &:nth-child(6) {
              a {
                transition-delay: 0.7s;
              }
            }

            &:not(:first-child) {
              margin-left: 0;
            }

            a {
              padding: 10px 25px;
              opacity: 0;
              color: #fff;
              font-size: 24px;
              font-weight: 600;
              transform: translateY(-20px);
              transition: all 0.2s ease;

            }

            .lang-switch {
              padding: 10px 25px;
            }
          }

          .menu__list-item--lang {
            @media screen and (max-width: $width-mob) {
              display: none;
            }
          }
        }
      }

      .nav-open {
        position: fixed;
        right: 10px;
        top: 15px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
        background: #f5f5f5;
        //-webkit-tap-highlight-color:  $theme-color-1;
        &:checked {

        }
        &:focus {

        }

        i {
          display: block;
          width: 20px;
          height: 2px;
          background: #1f2227;
          border-radius: 2px;
          margin-left: 14px;

          &:nth-child(1) {
            margin-top: 16px;
          }

          &:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
          }

          &:nth-child(3) {
            margin-top: 4px;
          }
        }
      }
    }
  }

}




