@import '../variables/variables';

header {
  justify-content: space-between;
  font-size: 16px;
  height: 85px;
  border-bottom: 1px solid #619897;
  text-transform: uppercase;
  //position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: $theme-board 1fr 110px $theme-board;
  font-family: Akrobat;
  z-index: 2;
  @media screen and (max-width: $width-mob) {
    height: 80px;
    grid-template-columns:  1fr  1fr 110px;
  }

  a {
    //color: white;
  }



  a.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 265px;
    border-right: 1px solid #619897;
    padding-top: 10px;

    @media screen and (max-width: $width-mob) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;

    }

    img {
      width: 160px;
      height: auto;
      @media screen and (max-width: $width-mob) {
        min-width: 70px;
        height: auto;
        max-width: 80%;
      }
    }
  }


  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    @media screen and (max-width: $width-mob) {
      display: none;
      order: 4;
    }

    .nav-container {
      width: 100%;
      max-width: 1160px;
      height: 100%;

      ul {
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        @media screen and (max-width: $width-mob) {
          height: auto;
        }

        li {
          float: left;
          list-style: none;
          height: 100%;
          display: flex;
          align-content: center;
          align-items: center;
          padding: 0 15px;
          border-bottom: 3px solid #fff0;

          a {
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            color: #333333;
            font-weight: 300;
          }

          &.active,
          &:hover {
            border-bottom: 3px solid $theme-color-1;

            a {
              color: #333333;
              font-weight: 400;
            }
          }

        }
      }
    }
  }

  .hamburger {
    width: 110px;
    border-left: 1px solid #619897;
    border-right: 1px solid #619897;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $width-mob) {
      //display: none;
      order: 3;
    }

    /****************     burger-menu       ********************/

    #burger-menu {
      cursor: pointer;
      height: 100%;
      width: 100%;
      padding: 20px;
      overflow: visible;
      position: relative;
      z-index: 5;
      span {
        right: 40px;
        top: 40px;
        width: 27px;
        &:before {
          left: 0px;
          top: -10px;
          width: 16px;
        }
        &:after {
          left: 0px;
          top: 10px;
          width: 20px;
        }
      }
      &.close {
        span {
          transform: rotate(-45deg);
          top: 40px;
          width: 27px;
          background: white;
          &:before {
            top: 0px;
            transform: rotate(90deg);
            width: 27px;
            background: white;
          }
          &:after {
            top: 0px;
            left: 0;
            transform: rotate(90deg);
            opacity: 0;
            width: 0;
            background: white;
          }
        }
      }
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #333333;
      display: block;
      height: 1px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
    #burger-menu span:before,
    #burger-menu span:after {
      content: "";
    }
    #menu {
      z-index: 3;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
      &.overlay {
        visibility: visible;
        opacity: 1;
        padding-top: 100px;
        background: rgba(0,0,0,0.75);
      }
      li {
        list-style: none;
      }
      a {
        color: #fff;
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
      }
    }






    /**********   burger-menu ****************************/




  }


  .contact-block {
    display: flex;
    height: 100%;
    width: 265px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $width-mob) {
      width: 100%;
      background: none;
      order: 2;
    }

    a {
      color: #333333;
    }
  }

}





