@import 'fonts/fonts';
@import 'variables/variables';
@import 'mixins/mixins';
@import "sections/sections";
@import "base/header";
@import "base/footer";
@import "svg/svg";



* {
  box-sizing: border-box;
}


//styles
body {
  font-family: 'Geometria';
  margin: 0;
  min-width: 320px;
  main {


  }
}



@media screen and (min-width: 1600px) {
}


@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}

