$theme-color-1: #2ab3c8;
$theme-color-2: #057382;
$theme-color-back: #f0f1f3;

$theme-board: 265px;
$theme-padding: 45px;


//$wrapper-big: 1600px;
$wrapper-big: 1450px;
//$wrapper-mid: 1368px;
$wrapper-mid: 1200px;

$width-middle: 1160px;
$width-mob: 850px;