$theme-color-1: #601431;
$theme-color-2: #203966;
$theme-color-back: #f0f1f3;
//$wrapper-big: 1600px;
$wrapper-big: 1450px;
//$wrapper-mid: 1368px;
$wrapper-mid: 1200px;

$width-middle: 1160px;
$width-mob: 850px;